/**
 * @file
 * Stylesheet for the Contact Form Blocks module.
 */

/* Reset the fixed width of input form text fields to use a dynamic width
 * depending on the parent elements.
 */

div#custom-add-block-icon {
  color: #332;
  display: block;
  float: left;
  font-family: Helvetica;
  font-size: 10pt;
  font-weight: normal;
  height: 78px;
  line-height: 9pt;
  overflow: hidden;
  padding: 2px;
  text-align: center;
  text-overflow: ellipsis;
  text-shadow: 0 1px 0 #fff;
  width: 65px;
}

div#custom-add-block-icon img {
  padding: 2px;
}

div#custom-add-block-close {
  bottom: -25px;
  float: right;
  position: absolute;
  right: 25px;
}

div#custom-add-block-load img {
  vertical-align: middle;
}
